body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.remote {
    background: #e5e5e5;
    border: 2px solid #D1D1D1;
    border-radius: 50px;
    margin: 10px 2%;
}

.remote .remote-row-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.remote .remote-row-buttons > div {
    padding:2%
}
.remote .remote-button {
    text-align: center;
    flex: 1 0 0%;
    width: 100%;
}

.remote .remote-button > a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #000;
    width: 100%;
    padding-bottom: 100%;
    
}
.remote .remote-button > a.standard-round {
    border-radius: 50%;
    background-color: #b9b9b9;
}
.remote .remote-button > a > .label {
    position:absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
     
}

.remote .remote-button-spacer {
    flex-grow: 1;
}


.bg-red {
    background-color: red !important;
}
.color-white {
    color: #FFFFFF !important;
}